body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}



#logo {
    height: 280px;
    position: absolute;
    top: -88px;
    left: 273px;
    z-index: 1;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    z-index: 2;
    background-color: #fff;
    margin: 30px 50px;
    padding: 50px;
    border-radius: 6%;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.text {
    margin-top: 10px;
    width: 350px;
    height: 40px;
    border: 1px solid #333;
    font-size: 15px;
    padding-left: 10px;
    font-family: 'NanumSquareNeo-Variable';
    transition: border-color 0.3s;
}

.text::placeholder {
    font-family: 'NanumSquareNeo-Variable';
    color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
}

.error-input {
    border: 1px solid tomato;
}

.error-text {
    visibility: hidden;
    display: block;
    margin: 12px 0 20px 0;
    font-size: 11px;
    color: tomato;
    font-family: 'NanumSquareNeo-Variable';
}

.error-text:focus {
    border: 1px solid tomato;
}

.fa-eye,
.fa-eye-slash {
    color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
}


#singup-from button {
    background-color: #5fbc68;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
     width: 30%;
    font-family: 'NanumSquareNeo-Variable';
    transition: background-color 0.5s ease;
    margin: 20px 0;
    padding: 10px;
    border: none;

}

.password-box {
    position: relative;
}

.password-box .fa-eye-slash,
.password-box .fa-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#btn-submit{
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#btn-submit:hover{
    background-color: rgb(245, 245, 62);
    color: #333;
}