body {
    background-color: #e8dbd2;
}

#root {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#first-box {
    margin: 50px 0px;
    padding: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6%;
    background-color: #fff;

}

#second-box {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6%;
    position: relative;
    width: 500px;
    background: #ffffff;
    margin: 50px 100px;
    padding: 30px 45px;
}


#second-box .title {
    display: block;
    font-size: 50px;
    font-weight: 600;
    color: #84acd6;

}

#second-box .todo-bar {
    height: 15px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 68px;
}

#add {
    width: 80px;
    height: 44px;
    background: #f07171;
    border-radius: 50%;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    margin-left: 20px;
}

#todo-ul {
    padding-right: 15px;
}

#todo-input::placeholder {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}


.todo-bar .todo-per {
    position: relative;
    display: block;
    border-radius: 10px;
    height: 100%;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.todo-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.todo-per .tooltip {
    position: absolute;
    right: -17px;
    top: -38px;
    font-weight: 500;
    color: #fff;
    padding: 4px 6px;
    border-radius: 3px;
    background: #f07171;
    z-index: 1;
    font-size: 20px;
}

.tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 10px;
    bottom: -2px;
    width: 10px;
    z-index: -1;
    background-color: #f07171;
    transform: translateX(-50%) rotate(45deg);
}

span {
    display: block;
}

.title {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    font-size: 50px;
    text-align: center;
    margin: 30px 0px;
    color: #edca85;
}


.input-root {
    width: calc(100% + 400px);
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 50px;
    padding: 0 20px;
    background: transparent;
    font-size: 15px;

}

.todo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}



.todo-list {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 330px;
    margin-left: 10px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.todo-btn {
    margin-left: 20px;
    border: none;
    background: none;
}

.todo-li {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.complete-btn {
    width: 35px;
    height: 31px;
    background: #ebebeb;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.check-btn {
    width: 35px;
    height: 31px;
    background: #496b4a;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}



.modify-btn,
.delete-btn {

    border: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 15px;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: aliceblue;
    color: #1e6b7b;


}

.modify-btn:hover,
.delete-btn:hover {
    letter-spacing: 2px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    cursor: pointer;
}

.checked {
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.2);
}

.selectedInput {
    outline: 0;
    background: transparent;
    transition: border-color 0.3s;
}


.todo-list:not([readonly]) {
    border-bottom: 1px solid tomato;
}

@media only screen and (max-width: 767px) {
    body {
        margin: 0;
    }
    .todo-list {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        margin: 0; 
    }

    .todo-list {
        width: 100%; 
    }
}